# eclipse
.classpath
.project
.settings

# velocity
velocity.log*

# maven
target/
work/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# java
*.class
*.jar

